$bg-blue-600: #26afc2;
$bg-dark-800: rgb(26,25,25);
$bg-dark-700: rgba(0,0,0,.16) ;
$clr-light-700:  #ecf0f3;
$clr-light-900: #fff;
$shadow-top: 6px 6px 13px $clr-light-900;
$shadow-bottom: 6px 6px 13px $bg-dark-700;
$shadow-inset-top: inset 6px 6px 13px $clr-light-900;
$shadow-inset-bottom: inset 6px 6px 13px $bg-dark-700;
$shadow-inset-neg: inset -6px -6px 13px $clr-light-900;